<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{movieItem.Title}}</h3>
    </div>
    <div class="panel-body">
    	<div class="col-sm-6">
    		<img ng-src="{{movieItem.Poster}}" on-error-src="http://placehold.it/163x200" class="poster">
    	</div>
    	<div class="col-sm-6">
    		<p><b>Type:</b> {{movieItem.Type}}</p>
        	<p><b>Year:</b> {{movieItem.Year}}</p>
        	<p><b>ImdbID:</b> {{movieItem.imdbID}}</p>
        	<p><b>Desc:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    	</div>
        
    </div>
</div>